bioio==3.5.0
bioio-czi==2.9.1
czitools==0.24.0
pylibCZIrw==6.1.0
pandas==3.0.5
numpy==2.5.3
scipy==1.18.1
scikit-image==0.26.0
matplotlib==3.11.2
seaborn==0.13.2
scikit-posthocs==0.17.0
statannotations==0.7.2
zarr==3.3.0
ipykernel==7.3.0
