bioio==3.5.0
bioio-czi==2.9.1
czitools==0.7.5
pylibCZIrw==4.1.3
pandas==2.2.3
numpy==2.1.3
scipy==1.15.1
scikit-image==0.25.1
matplotlib==3.10.0
seaborn==0.13.2
scikit-posthocs
statannotations
zarr==2.15.0
ipykernel==6.29.5
